.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.header-color {
    background: #2ab1fa
}

.nav-link {
    font-size: x-large;
    color: white !important;
}

.nav-link-logo {
    font-size: xx-large;
    color: white !important;
    text-decoration: none;
}

.link {
    color: white !important;
    text-decoration: none;
}